{% extends "layout.html" %}
{% block content %}
<p><br>
<br>
<br>
<br>
<font face="lucida Calligraphy" size="28" color="black">MedCop</font><br>
                                        <i><font face="comic san MS"  color="black"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One stop solution to your problems...............</h3></font></i>
<br>
<br>
<br>
<br>

<br>
<i><font face="comic san Ms" color="black" size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An effort made in service of mankind..............!!!!</font></i>
<br>
<br>
<br>
<br>
<br>
<font face="lucida handwriting" color="black" size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By : Rupesh Dubey, Pradumn, Abhishek Mittal, Kunwar Viraj</font>
</p>
{% endblock content %}&nbsp;